.dish-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  flex-grow: 1;
  box-shadow: none;
}

/* .dish-card:hover {
  transform: scale(1.05);
} */

.dish-image {
  height: 200px;
  object-fit: cover;
}
